@import "normalize.styl"

a 
	text-decoration none

body
	font-size 16px
	font-family 'Varela Round', sans-serif
	text-align center
	background #efefef
	
figure
img
h1
	margin 0
		
.col
	display inline-block
	vertical-align top
	
.contenedor
	padding-bottom 10px
	background #7f5757
	color #efefef
	.photo
		text-align left
		background #000
		.pastores
			width 480px
			img 
				width 100%
							
		.welcome
			padding-left 10%
			text-transform uppercase
					

