@font-face {
	font-family: 'thrive';
	src:url('../fonts/thrive.eot?-e5dtps');
	src:url('../fonts/thrive.eot?#iefix-e5dtps') format('embedded-opentype'),
		url('../fonts/thrive.woff?-e5dtps') format('woff'),
		url('../fonts/thrive.ttf?-e5dtps') format('truetype'),
		url('../fonts/thrive.svg?-e5dtps#thrive') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'thrive';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-film:before {
	content: "\e600";
}
.icon-bullhorn:before {
	content: "\e601";
}
.icon-profile:before {
	content: "\e60b";
}
.icon-phone:before {
	content: "\e602";
}
.icon-screen:before {
	content: "\e60c";
}
.icon-laptop:before {
	content: "\e60d";
}
.icon-mobile:before {
	content: "\e60e";
}
.icon-tablet:before {
	content: "\e60f";
}
.icon-menu:before {
	content: "\e603";
}
.icon-code:before {
	content: "\e604";
}
.icon-mail:before {
	content: "\e605";
}
.icon-googleplus:before {
	content: "\e606";
}
.icon-facebook:before {
	content: "\e607";
}
.icon-instagram:before {
	content: "\e608";
}
.icon-twitter:before {
	content: "\e609";
}
.icon-youtube:before {
	content: "\e60a";
}
.icon-file-xml:before {
	content: "\e610";
}
